@page
@model ChatAppDemo.Pages.ChatRooms.IndexModel
@{
}

<h1>Welcome to the chatrooms</h1>

<a class="btn btn-primary" asp-page="/ChatRooms/Account">Account settings</a>

<!--Add Vue för att kunna visa nyskapade chattrum direkt typ-->